---
import Base from '../layouts/Base.astro';
import ConceptBanner from '../components/ConceptBanner.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---
<Base>
  <ConceptBanner />
  <Nav />
  <main>
    <Hero />
  </main>
</Base>
